@import "settings";
@import "foundation";
@import "compass/layout/sticky-footer";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/horizontal-list";

// Foundation's textarea height is broken
// https://github.com/zurb/foundation/issues/2127
textarea {
  height: auto;
}

$pc-header-height-small: 240px;
$pc-header-height-medium: 320px;
$pc-header-height-large: 360px;

#pc-header {
  background-color: black;
  background-image: image-url("background.jpg");
  background-position: center bottom;
  background-size: cover;
  height: $pc-header-height-small;
  @media #{$medium-up} {
    height: $pc-header-height-medium;
  }
  @media #{$large-up} {
    height: $pc-header-height-large;
  }
  text-align: center;

  // Vertical centering using http://css-tricks.com/centering-in-the-unknown/
  .row {
    width: 99%; // Firefox needs somewhere to put the :before empty string
    display: inline-block;
    vertical-align: middle;
  }
}

// Vertical centering using http://css-tricks.com/centering-in-the-unknown/
#pc-header:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#pc-logo {
  width: 90%;
  max-height: $pc-header-height-small - 84px;
  @media #{$medium-up} {
    max-height: inherit;
  }
}

.header-links {
  @include block-grid($per-row: 3, $spacing: 0px);
  a {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-size: 16pt;
    @media #{$medium-up} {
      font-size: 22pt;
    }
    color: $body-font-color;
  }
}

// Footer
@include sticky-footer(2em, "#pc-layout", "#pc-layout-footer", "#pc-footer");
footer {
  padding-top: 1em;
  font-size: small;
}

// News page
article.news {
  header > p {
    margin-top: -1.25em;
    font-size: small;
    font-weight: bold;
  }
}
/* From https://gist.github.com/smeranda/2571173
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/
*/
/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
  display: none;
}
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

// About page
.member {
  // Based on the media object
  // http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
  margin: 1.5em;
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
  .member-text {
    @media #{$medium-up} {
      overflow: hidden;
      _overflow: visible;
      zoom: 1;
    }
  }
  .member-image {
    @media #{$medium-up} {
      float: left;
      display: block;
      margin-right: 1em;
    }
    height: 240px;
    width: 180px;
    background-size: cover;
    background-position: center center;
  }
  h3 {
    color: $body-font-color;
  }
  .member-nickname {
    color: darken($body-font-color, 25%);
    font-weight: normal;
  }
  .member-class {
    margin-top: -0.75em;
    font-size: small;
    font-weight: bold;
  }
  p {
    margin-top: 0.5em;
  }
}

// Member management page
.member-list {
  @include no-bullets;
  .actions-list {
    @include horizontal-list;
    float: right;
  }
}
a.alert {
  color: $alert-color;
}
a.alert:hover {
  color: fade-out($alert-color, .25);
}
a.warning {
  color: $warning-color;
}
a.warning:hover {
  color: fade-out($warning-color, .25);
}
button.warning {
  @include button($bg:$warning-color);
}

// Photo being edited
img.editing {
  max-height: 480px;
  padding-bottom: 1em;
}

// Photos page
ul.clearing-thumbs {
  li {
    margin: 0.5em;
  }
}
